
{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Проект</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="post">
                <div class="form-group">
                     {% csrf_token %}
                        {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Редактировать</button>
                <button type="button" class="btn btn-success" onclick="$('#complete').click()">Выполнено</button>
                <button type="button" class="btn btn-danger" onclick="$('#delete').click()">Удалить</button>
            </form>
        </div>
    </div>
    {% if project.datecompleted is None %}
        <form style='display: none;' method="POST" action="#">
            {% csrf_token %}
            <button id="complete" type="submit">Выполнено</button>
        </form>
    {% endif %}
    <form style='display: none;' method="POST" action="#">
        {% csrf_token %}
        <button id="delete" type="submit">Удалить</button>
    </form>
{% endblock %}
